body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;

	display: flex;
	flex-direction: column
}

@font-face {
    font-family: 'hey comic';
    src: url('assets/fonts/Hey Comic.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

button {

	border: none;
	min-width: 170px;

	background-color: white;
	padding: 50px;
	margin: 0px;

	font-size: 34px;
	font-family: "hey comic";
}

.h-hr {
	width: 530px;
	height: 7px;
	border: none;
	position: absolute;

	background-color: khaki; 
}

#grid {
	width: fit-content;
	margin: auto;
}

.vertical-line {
	height: 500px;
	position: absolute;

	border-right: 7px solid khaki;
}

#vert-line-1 {
	width: 170px
}

#vert-line-2 {
	width: 340px
}

input[type = "radio"] {
	display: none;
}

input[type = "radio"] + label {
	width: 200px;
	padding: 10px;
	border-radius: 5px;
	margin: 3px;

	background-color: khaki;

	transition:ease-in-out
}

input[type = "radio"]:checked + label{
	background-color: rgb(189, 181, 108);
}

.input-label:checked {
	background-color: rgb(189, 181, 108);
}

#diff-selector {
	margin: auto
}

#difficulties-bg {
	padding: 10px 0;
	margin: 3px;
	
	border-radius: 5px;
	background-color: khaki;
}

#turn_info {
	margin: auto;
	font-family: "hey comic";
	font-size: 34px;
}